.articlescontainer {
    display: grid;
    grid-template-columns: 15% 80%;
    margin-left: 5%;
    gap: 3%;
}

.sidetextheader {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
}

.indivarticle {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 2rem;
    z-index: 1;
    text-decoration: none;
}

.indivarticle:is(:hover) .articleimg {
    opacity: 0.8;
}

.articleimg {
    width: 100%;
    transition: all 500ms ease;
    background-color: black;
}

.text {
    text-align: right;
    margin: auto;   
    width: 60%;
    color: rgb(76, 76, 76);
    text-decoration: none;

    transition: 500ms color ease;
}

.text:hover {
    color: black;
}

.sortingbutton {
    background: none;
    border: grey solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-family: "Inter";
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;

    transition: all 500ms ease;
}

.sortingbutton:hover {
    border: rgb(67, 162, 111) solid 1px;
}

@media (max-width: 700px) {
    .articlescontainer {
        grid-template-columns: 100%;
    }

    .indivarticle {
        grid-template-columns: 100%;
    }

    .articleimg {
        max-width: 80%;
        margin: 0 auto;
    }
    .text {
        width: 80%;
        text-align: center;
    }
}