.articlescontainer {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidetextheader {
    font-family: "Unbounded";
}

.indivarticle {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 2rem;

}

.articleimg {
    width: 100%;
}

.text {
    text-align: right;
    margin: auto;   
    width: 60%;
    color: rgb(76, 76, 76);
    text-decoration: none;

    transition: 500ms color ease;
}

.text:hover {
    color: black;
}


@media (max-width: 700px) {
    .articlescontainer {
        grid-template-columns: 100%;
    }

    .indivarticle {
        grid-template-columns: 100%;
    }

    .articleimg {
        max-width: 80%;
        margin: 0 auto;
    }
    .text {
        width: 80%;
        text-align: center;
    }
}