---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/Newsletter.module.css'

---


<Layout title="Newsletter">
    <h2 class={styles.newsletterel}><a href="https://cleanwestchester.s3.amazonaws.com/newsletters/Clean+Westchester+Spring+2023+Newsletter.pdf" target="_blank">Spring 2023 Newsletter</a><h2>

</Layout>