---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/Press.module.css'

---

<Layout title="Clean Westchester | Press">
    <h1 class={styles.header}>Press:</h1>
    <div class={styles.newsourceimgs}>
        <a target="_blank" rel="noopener noreferrer" href="https://www.scarsdalenews.com/community/local_life/service/scarsdale-students-on-mission-to-clean-up-westchester-county/article_b67acd9e-bba3-11ed-914f-2f24a274995a.html">
            <img class={styles.img} src="/scarsdaleinquirer.jpg"/>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://shsmaroon.org/clean-westchester-spotlight/">
            <img class={styles.img} src="/maroonimg.jpg"/>
        </a>
    </div>

</Layout>